# 0. Imports

In [5]:
import os
import pandas as pd

# 1. Load Data

In [6]:
data = pd.read_csv(os.path.join('data', 'flux.csv'))

# 2. Exploratory Data Analysis

In [19]:
data.shape

(4180480, 10)

In [20]:
data.columns

Index(['date', 'basin_id', 'flux', 'precip', 'temp_max', 'gauge_name', 'lat',
       'lon', 'mean_elev', 'area_km2'],
      dtype='object')

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180480 entries, 0 to 4180479
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   date        datetime64[ns]
 1   basin_id    int64
 2   flux        float64
 3   precip      float64
 4   temp_max    float64
 5   gauge_name  object
 6   lat         float64
 7   lon         float64
 8   mean_elev   float64
 9   area_km2    float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 318.9+ MB

In [22]:
data.head()

,date,basin_id,flux,precip,temp_max,gauge_name,lat,lon,mean_elev,area_km2
0,1980-01-01,1001001,0.579,0.0,10.685653,Rio Caquena En Nacimiento,-18.0769,-69.1961,4842.449328,49.711859
1,1980-01-02,1001001,0.543,0.0,11.470960,Rio Caquena En Nacimiento,-18.0769,-69.1961,4842.449328,49.711859
2,1980-01-03,1001001,0.482,0.0,11.947457,Rio Caquena En Nacimiento,-18.0769,-69.1961,4842.449328,49.711859
3,1980-01-04,1001001,0.459,0.0,12.424489,Rio Caquena En Nacimiento,-18.0769,-69.1961,4842.449328,49.711859
4,1980-01-05,1001001,0.436,0.0,12.649203,Rio Caquena En Nacimiento,-18.0769,-69.1961,4842.449328,49.711859

In [23]:
data.describe()

,basin_id,flux,precip,temp_max,lat,lon,mean_elev,area_km2
count,4.180480e+06,4.180480e+06,4.175037e+06,4.175037e+06,4.180480e+06,4.180480e+06,4.180480e+06,4.180480e+06
mean,7.179757e+06,5.253340e+01,2.947445e+00,1.365728e+01,-3.569572e+01,-7.129595e+01,1.760129e+03,2.404876e+03
std,3.180965e+06,1.676027e+02,8.766749e+00,6.615037e+00,8.047659e+00,1.254339e+00,1.382121e+03,4.322051e+03
min,1.001001e+06,0.000000e+00,0.000000e+00,-1.160359e+01,-5.494690e+01,-7.366670e+01,1.181229e+02,1.789123e+01
25%,4.558001e+06,8.680000e-01,0.000000e+00,9.162867e+00,-3.915000e+01,-7.231670e+01,5.847012e+02,3.761001e+02
50%,7.350003e+06,5.171000e+00,0.000000e+00,1.321396e+01,-3.588420e+01,-7.137190e+01,1.195311e+03,8.205541e+02
75%,9.416001e+06,2.990000e+01,6.422626e-01,1.805745e+01,-3.126560e+01,-7.050670e+01,3.048161e+03,2.461610e+03
max,1.293000e+07,1.580500e+04,2.132120e+02,4.081117e+01,-1.784280e+01,-6.763920e+01,4.910152e+03,5.224367e+04

In [12]:
# Convert date from str to datetime object
data['date'] = pd.to_datetime(data['date'])
print(f"Data from {data['date'].min()} to {data['date'].max()}")
data.info()

Data from 1980-01-01 00:00:00 to 2020-06-06 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180480 entries, 0 to 4180479
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   date        datetime64[ns]
 1   basin_id    int64
 2   flux        float64
 3   precip      float64
 4   temp_max    float64
 5   gauge_name  object
 6   lat         float64
 7   lon         float64
 8   mean_elev   float64
 9   area_km2    float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 318.9+ MB

In [17]:
# Data per station
data_count_per_station = data.groupby(['basin_id', 'gauge_name']).size().reset_index(name='Count').sort_values(by=['Count'], ascending=False)
data_count_per_station

     basin_id                                    gauge_name  Count
150   5410002                 Rio Aconcagua En Chacabuquito  14670
380  10134001                          Rio Cruces En Rucaco  14649
120   4703002                        Rio Choapa En Cuncumen  14639
88    4320001                       Rio Elqui En Algarrobal  14634
354   9129002                           Rio Cautin En Cajon  14603
..        ...                                           ...    ...
203   6034001              Estero Chimbarongo En Santa Cruz    328
265   8117001                   Rio Chillan En Longitudinal    302
111   4534001               Rio Pama Entrada Embalse Cogoti    195
159   5423002  Estero Las Vegas Aguas Abajo Canal Las Vegas    195
417  10683002                         Rio Blanco En Chaiten    175

[503 rows x 3 columns]

In [18]:
data_count_per_station.describe()

           basin_id         Count
count  5.030000e+02    503.000000
mean   7.320306e+06   8311.093439
std    3.207162e+06   4538.323348
min    1.001001e+06    175.000000
25%    4.715001e+06   4348.000000
50%    7.372001e+06   9003.000000
75%    1.012150e+07  12560.000000
max    1.293000e+07  14670.000000